@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
    font-size: 1.25rem;
    font-family: "Rubik";
    padding: 0;
    margin: 0;
    background: 000;
}
.header {
    display: flex;
    position: static;

    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.6);
    padding: 20px 0px;
    background-color: #666;
}
.login {
    border: solid 0.6mm;
    border-color: rgb(160, 126, 255);
    border-radius: 10px;
    padding: 10px 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 0 12px;
    font-stretch: ultra-condensed;
    color: black;
    text-decoration: none;
}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.login:hover {
    transform: translateY(-2px);
    color: black;
    text-decoration: none;
}

.night {
    margin: 0px 12px;
    cursor: pointer;
    border: solid 2px;
    border-color: rgb(160, 126, 255);
    padding: 10px 20px;
    border-radius: 12px 12px 12px 12px;
    transition: all 0.2s ease-in-out;
    margin-right: auto;
}
.night:hover {
    transform: translateY(-2px);
}
.home {
    margin: 0px 12px;
    cursor: pointer;
    padding: 13px;

    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid rgb(160, 126, 255);
}
.home:hover {
    transform: translateY(-2px);
}
.servive {
    margin: 0px 12px;
    cursor: pointer;
    padding: 13px;
    border-bottom: 2px solid rgb(160, 126, 255);
    transition: all 0.2s ease-in-out;
}
.servive:hover {
    transform: translateY(-2px);
}
.support {
    margin: 0px 20px;
    cursor: pointer;
    padding: 13px;
    border-bottom: 2px solid rgb(160, 126, 255);
    transition: all 0.2s ease-in-out;
}
.support:hover {
    transform: translateY(-2px);
}

.card {
    margin: 0px 12px;
    cursor: pointer;
    border: solid 2px rgb(160, 126, 255);
    padding: 16px;
    border-radius: 12px 12px 12px 12px;
    transition: all 0.2s ease-in-out;
}
.card:hover {
    transform: translateY(-2px);
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}
.btn-cen {
    background-color: rgb(160, 126, 255);
    border: none;
    color: white;
    padding: 10px;
    font-size: 1rem;
    font-family: "Rubik";
}
.btn-cen:hover {
    cursor: pointer;
    border: solid 2px #666;
}
